In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\Acer\Downloads\Social_Network_Ads.csv")

In [6]:
df.head(20)

    Age  EstimatedSalary  Purchased
0    19            19000          0
1    35            20000          0
2    26            43000          0
3    27            57000          0
4    19            76000          0
5    27            58000          0
6    27            84000          0
7    32           150000          1
8    25            33000          0
9    35            65000          0
10   26            80000          0
11   26            52000          0
12   20            86000          0
13   32            18000          0
14   18            82000          0
15   29            80000          0
16   47            25000          1
17   45            26000          1
18   46            28000          1
19   48            29000          1

In [7]:
df["Purchased"].value_counts()

Purchased
0    31
1    15
Name: count, dtype: int64

In [8]:
x = df.iloc[:,:-1]
y = df["Purchased"]

In [9]:
from imblearn.under_sampling import RandomUnderSampler

In [10]:
ru = RandomUnderSampler()
ru_x,ru_y = ru.fit_resample(x,y)

In [11]:
ru_y.value_counts()

Purchased
0    15
1    15
Name: count, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test = train_test_split(ru_x,ru_y,test_size=0.2,random_state=42)

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
lr = LogisticRegression()
lr.fit(x_train,y_train)
lr.score(x_test,y_test)*100

100.0

In [16]:
print(f"prediction is:{lr.predict([[18,82000]])}") #PREDIC

prediction is:[0]

C:\Users\Acer\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [17]:
#RANDOMOVERSAMPLER

In [18]:
from imblearn.over_sampling import RandomOverSampler

In [19]:
ro = RandomOverSampler()
ro_x,ro_y = ro.fit_resample(x,y)
ro_y.value_counts()

Purchased
0    31
1    31
Name: count, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test = train_test_split(ro_x,ro_y,test_size=0.2,random_state=42)

In [24]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr1 = LogisticRegression()
lr1.fit(x_train,y_train)
lr1.score(x_test,y_test)*100

92.3076923076923

In [31]:
print(f"Predicted answer:{lr.predict([[48,29000]])}")

Predicted answer:[1]

C:\Users\Acer\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(