In [1]:
#1.summary transaction data set
import pandas as pd 
df=pd.read_csv('transactions.csv')
print(df.info)

<bound method DataFrame.info of    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4>

In [2]:
#2.print number of attributes
num_attributes = len(df.columns)
print(num_attributes)

5

In [3]:
#3.print number of records
num_records = len(df)
print(num_records)

10

In [4]:
#4.get the row names
names_records = df
print(names_records)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [6]:
#5.get the column names
names_columns=df.columns;
print(names_columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

In [7]:
#6.view top 10 records
top_10=df.head(10)
print(top_10)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [8]:
#7.change Quantity to Quant
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quant
0              1      2010-08-21     7.0          2      1
1              2      2011-05-26     3.0          4      1
2              3      2011-06-16     3.0          3      1
3              4      2012-08-26     1.0          2      3
4              5      2013-06-06     2.0          4      1
5              6      2013-12-23     2.0          5      6
6              7      2013-12-30     3.0          4      1
7              8      2014-04-24     NaN          2      3
8              9      2015-04-24     7.0          4      3
9             10      2016-05-08     3.0          4      4

In [9]:
#8.rename columns
df.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [10]:
#9.sort by order
df_sorted=df.sort_values(by=["TransactionID"],ascending=[True])
print(df_sorted)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [12]:
#10.sort by order
df_sorted=df.sort_values(by=["TransactionID","Quant"],ascending=[True,False])
print(df_sorted)

   TransactionID TransactionDate  UID  PID  Quant
0              1      2010-08-21  7.0    2      1
1              2      2011-05-26  3.0    4      1
2              3      2011-06-16  3.0    3      1
3              4      2012-08-26  1.0    2      3
4              5      2013-06-06  2.0    4      1
5              6      2013-12-23  2.0    5      6
6              7      2013-12-30  3.0    4      1
7              8      2014-04-24  NaN    2      3
8              9      2015-04-24  7.0    4      3
9             10      2016-05-08  3.0    4      4

In [15]:
#11. Set the column order of Transactions as ProductID,Quantity, TransactionDate, TransactionID, UserID
# Reordering the columns
df = df[['PID', 'Quant', 'TransactionDate', 'TransactionID', 'UID']]

# Renaming the columns to match the desired output
df.columns = ['ProductID', 'Quantity', 'TransactionDate', 'TransactionID', 'UserID']

print(df)

   ProductID  Quantity TransactionDate  TransactionID  UserID
0          2         1      2010-08-21              1     7.0
1          4         1      2011-05-26              2     3.0
2          3         1      2011-06-16              3     3.0
3          2         3      2012-08-26              4     1.0
4          4         1      2013-06-06              5     2.0
5          5         6      2013-12-23              6     2.0
6          4         1      2013-12-30              7     3.0
7          2         3      2014-04-24              8     NaN
8          4         3      2015-04-24              9     7.0
9          4         4      2016-05-08             10     3.0

In [18]:
#12. Make UserID the first column of transactions
df = df[['UserID', 'ProductID', 'Quantity', 'TransactionDate', 'TransactionID']]

print(df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
0     7.0          2         1      2010-08-21              1
1     3.0          4         1      2011-05-26              2
2     3.0          3         1      2011-06-16              3
3     1.0          2         3      2012-08-26              4
4     2.0          4         1      2013-06-06              5
5     2.0          5         6      2013-12-23              6
6     3.0          4         1      2013-12-30              7
7     NaN          2         3      2014-04-24              8
8     7.0          4         3      2015-04-24              9
9     3.0          4         4      2016-05-08             10

In [19]:
#13.. Extracting arrays from a Data Frame. Get the 2nd column
second_column = df.iloc[:, 1]

print(second_column)

0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: ProductID, dtype: int64

In [20]:
#14. Get the ProductID Array
product_id_array = df['ProductID'].values
print(product_id_array)

# Using .to_numpy() (Recommended)
product_id_array = df['ProductID'].to_numpy()
print(product_id_array)

[2 4 3 2 4 5 4 2 4 4]
[2 4 3 2 4 5 4 2 4 4]

In [ ]:
#15. Get the ProductId array using the following variable

In [21]:
#16.Row subsetting, subset rows 1,3 and 6
subset_df = df.iloc[[1, 3, 6]]

print(subset_df)

   UserID  ProductID  Quantity TransactionDate  TransactionID
1     3.0          4         1      2011-05-26              2
3     1.0          2         3      2012-08-26              4
6     3.0          4         1      2013-12-30              7

In [8]:
#17. subset rows excluding 1,3 and 6
subset_df = df.iloc[[0, 2, 5]] 
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

In [9]:
#18. Subset the first three rows
subset_df = df.iloc[:3] 
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

In [10]:
#19. Subset the last 2 rows
subset_df = df.iloc[-2:] 
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [11]:
#20.Subset rows excluding the last 2 rows
subset_df = df.iloc[:-2] 
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

In [12]:
#21. Subset rows excluding the first 3 rows
subset_df = df.iloc[3:] 
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [13]:
#22. Subset rows where Quantity>1
subset_df = df[df['Quantity'] > 1]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [15]:
#23. Subset rows where UserID=2
subset_df = df[df['UserID'] == 1]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3

In [16]:
#24. Subset rows where Quantity>1 and UserID=2
subset_df = df[(df['Quantity'] > 1) & (df['UserID'] == 2)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

In [19]:
#25. Subset rows where Quantity + UserID is >3
subset_df = df[(df['Quantity']+ df['UserID'] > 3)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [21]:
#26. Subset rows where an external array, foo, is True
foo = [True, False, True, False, True,True, False, True, False, True] 
subset_df = df[foo]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [23]:
#27. Subset rows where an external array, bar, is positive
bar = [1, -2, 3, 0, 5,1, -2, 3, 0, 5]  
subset_df = df[pd.Series(bar) > 0]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [25]:
#28. Subset rows where foo is TRUE or bar is negative
subset_df = df[(pd.Series(foo)) | (pd.Series(bar) < 0)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [26]:
#29. Subset the rows where foo is not TRUE and bar is not negative
subset_df = df[~pd.Series(foo) & (pd.Series(bar) >= 0)]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
8              9      2015-04-24     7.0          4         3

In [24]:
#30.Subset by columns 1 and 3
subset_df = df.iloc[:, [0, 2]]
print(subset_df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
9             10      2016-05-08     3.0          4         4

In [22]:
#31. Subset by columns TransactionID and TransactionDate
subset_df = df[['TransactionID', 'TransactionDate']]

print(subset_df)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [23]:
#32. Subset by columns TransactionID andTransactionDate with logical operator
subset_df = df.loc[(df['TransactionID'] > 101) & (df['TransactionDate'] > '2025-03-11'),
                   ['TransactionID', 'TransactionDate']]

print(subset_df)

Empty DataFrame
Columns: [TransactionID, TransactionDate]
Index: []

In [24]:
#33. Subset columns by a variable list of column names
# Define the variable list of column names
column_list = ['TransactionID', 'TransactionDate']

# Subset the DataFrame using the variable list
subset_df = df[column_list]

print(subset_df)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [25]:
#34.Subset columns excluding a variable list of columnnames
exclude_columns = ['TransactionID', 'TransactionDate']

# Subset the DataFrame by excluding specified columns
subset_df = df.drop(columns=exclude_columns)

print(subset_df)

   UserID  ProductID  Quantity
0     7.0          2         1
1     3.0          4         1
2     3.0          3         1
3     1.0          2         3
4     2.0          4         1
5     2.0          5         6
6     3.0          4         1
7     NaN          2         3
8     7.0          4         3
9     3.0          4         4

In [28]:
#35. Inserting and updating values
# Correct method using .loc[]
df.loc[:, 'Discount'] = 0
df.loc[:, 'TotalAmount'] = df['Quantity'] * 100

print(df.TotalAmount)

0    100
1    100
2    100
3    300
4    100
5    600
6    100
7    300
8    300
9    400
Name: TotalAmount, dtype: int64

In [31]:
#36.Convert the TransactionDate column to type Date
# Correct way using .loc[]
df.loc[:, 'TransactionDate'] = pd.to_datetime(df['TransactionDate'])
print(df.TransactionDate)

0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
5   2013-12-23
6   2013-12-30
7   2014-04-24
8   2015-04-24
9   2016-05-08
Name: TransactionDate, dtype: datetime64[ns]

In [33]:
#37.Insert a new column, Foo=UserID+ProductID
df.loc[:, 'Foo'] = df['UserID'] + df['ProductID']
print(df.Foo)

0     9.0
1     7.0
2     6.0
3     3.0
4     6.0
5     7.0
6     7.0
7     NaN
8    11.0
9     7.0
Name: Foo, dtype: float64